{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<form action="{{ path('home_show') }}" method="post">
		<div class="container">
			<label for="categories-select">Selectionner une Catégorie :</label>

			<select name="categories" id="categories-select" class="form-control mb-3">
                <option value="Accessoires pour lanceurs">Accessoires pour lanceurs</option>
                <option value="Air comprimé et CO2">Air comprimé et co2</option>
                <option value="Bagages et housses">Bagages et housses</option>
                <option value="Canons">Canons</option>
				<option value="Divers">Divers</option>
				<option value="Kits et packages">Kits et packages</option>
				<option value="Lanceurs de scénario">Lanceurs de scénario</option>
				<option value="Lanceur de compétition">Lanceur de compétition</option>
				<option value="Lanceurs de loisir">Lanceurs de loisir</option>
				<option value="Loaders et accessoires">Loaders et accessoires</option>
				<option value="Masques et écrans">Masques et écrans</option>
				<option value="Recrutements">Recrutements</option>
				<option value="Tournois">Tournois</option>
				<option value="Terrains et accessoires">Terrains et accessoires</option>
				<option value="Vetements de jeu">Vetements de jeu</option>
			</select>
		</div>

		<div class="container">
			<label for="brands-select">Selectionner une Marque :</label>

			<select name="brands" id="brands-select" class="form-control mb-3">
			<option value="Autres marques">Autres marques</option>
			<option value="Armotech">Armotech</option>
                <option value="Azodin">Azodin</option>
                <option value="Base">Base</option>
                <option value="BT">BT</option>
				<option value="Bunker Kings">Bunker Kings</option>
				<option value="Deadlywind">Deadlywind'</option>
				<option value="DLX">DLX</option>
				<option value="Dye">Dye</option>
				<option value="Empire">Empire</option>
				<option value="GI Sportz/V-Force">GI Sportz/V-Force</option>
				<option value="HK Army">HK Army</option>
				<option value="Honorcore">Honorcore</option>
				<option value="JT">JT</option>
				<option value="Lapco">Lapco</option>
				<option value="MacDev">MacDev</option>
				<option value="Milsig">Milsig</option>
				<option value="Oubtreak">Oubtreak</option>
				<option value="Planet Eclipse">Planet Eclipse</option>
				<option value="Powair">Powair</option>
				<option value="Proto">Proto</option>
				<option value="Sly">Sly</option>
				<option value="Smart Parts/GOG">Smart Parts/GOG</option>
				<option value="Soger">Soger</option>
				<option value="Spyder">Spyder</option>
				<option value="Tiberius">Tiberius</option>
				<option value="Tippmann/Hammerhead">Tippmann/Hammerhead</option>
				<option value="Trident">Trident</option>
				<option value="Valken">Valken</option>
				<option value="Virtue">Virtue</option>
				<option value="WGP">WGP</option>
			</select>
		</div>

		<div class="container">
			<label for="region-select">Selectionner une Région :</label>

			<select name="region" id="region-select" class="form-control mb-3">

				<option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
				<option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
				<option value="Bretagne">Bretagne</option>
				<option value="Centre-Val de Loire">Centre-Val de Loire</option>
				<option value="Corse">Corse</option>
				<option value="Grand Est">Grand Est</option>
				<option value="Hauts-de-France">Hauts-de-France</option>
				<option value="Ile-de-France">Ile-de-France</option>
				<option value="Normandie">Normandie</option>
				<option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
				<option value="Occitanie">Occitanie</option>
				<option value="Pays de la Loire">Pays de la Loire</option>
				<option value="Provence-Alpes-Côte d’Azur">Provence-Alpes-Côte d’Azur</option>
			</select>
		</div>

		<div class="container">
			<label for="mot-clés">Mot-clés :</label>
			<input type="search" name="mot-cles" class="form-control mb-3">
		</div>

		<div class="container d-flex flex-column align-items-center">
			<input type="submit" value="Rechercher" class="btn btn-primary mb-2">
		</div>
	</form>
{% endblock %}
