{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    <div class="">
    {{ form_widget(form) }}
    
    <button class="form-label" type="submit">Ajouter l'annonce </button>
    {{ form_end(form) }}
    </div>
{% endblock %}