{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="row row-cols-3 row-cols-lg-4 g-3 g-lg-2">
      {% for advert in advert %}
      {% else %}
      Aucune annonce trouvée.
    {% endfor %}
</div>
{% endblock %}
