@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    background-color: white;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

main {
    background-color: white;
}

.fill { 
    min-height: 100%;
}

#user_adverts {
    margin-top: 5rem;
}
