<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}Projet 3 Name{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
	<header>
		<nav class="navbar navbar-expand-lg navbar bg-blue">
	<div class="container-fluid">
		<a class="navbar-brand text-black" href="#">Annonces Paintball</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
			<a class="nav-link active text-black" aria-current="page" href="#">Home</a>
			</li>
			<li class="nav-item">
			<a class="nav-link text-black" href="#">Annonces</a>
			</li>
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Déposer une annonce
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item text-black" href="#">Je veux acheter</a></li>
				<li><a class="dropdown-item text-black" href="#">Je veux vendre</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item text-black" href="#">Something else here</a></li>
			</ul>
			</li>
			<li class="nav-item">
			<a class="nav-link disabled text-black"></a>
			</li>
		</ul>
		<form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success text-black" type="submit">Search</button>
		</form>
		</div>
	</div>
	</nav>
</header>
{% endblock %}

		{% block body %}{% endblock %}
	</body>
</html>
