{% extends "base.html.twig" %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <main class="container fill pt-5">
        <h2>Liste des annonces</h2>
        <div id="listOfAdvert" class="row">
        {% for advert in adverts %}
            <div class="col-sm-6 col-md-4">
                {% include "advert/_advert_card.html.twig" %}
            </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}